<div id="content" ng-controller='GameController as ctrl'>
  <div id="heading" class="row">
    <h1 class="title">Tic Tac Toe</h1>
      <table>
        <tbody>
          <tr ng-repeat="row in ctrl.game.grid">
            <td ng-repeat="cell in row track by $index">
              <button type="button" ng-click="ctrl.game.update($parent.$index, $index)"
              style="height:200px;width:200px;font-size:800%">{{cell}}</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>